@import '../variables';

.gridTemplate{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:30px;
    padding: 30px 30px 100px 30px;
    
    a{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding:15px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align:center;
        text-decoration: none;
        color:#000;
        border-radius:3px;
        min-height:110px;
        line-height:24px;

        &:hover{
            background:$mainBlack;
            color:#fff;
            transition:all 0.2s ease-in-out;
        }

        p{
            margin-top:10px;
        }
    }
}