@import '../variables';
@import '../mixins.scss';

.contentWrap{
    padding:30px;

    @media (max-width:$breakTablet)  {
        padding:30px;
    }

    @media (max-width:$breakPhoneLandscape)  {
        padding:0;
    }
}