.menuWrap{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:800px;
    margin:0 auto;
    padding-top:15px;
    a{
        color:#000;
        text-decoration: none;
        font-weight:bold;
        padding:0 10px 15px 10px;
        border-bottom:solid 3px transparent;

        &.active{
            border-bottom:solid 3px #000;
        }
    }
}