@mixin fontFace{
    @font-face {
        font-family: 'Lato-Medium';
        src: local('Lato-Medium'), url(../fonts/Lato-Medium.ttf) format('truetype');
      }
      @font-face {
        font-family: 'Lato-Light';
        src: local('Lato-Light'), url(../fonts/Lato-Light.ttf) format('truetype');
      }
}

